<div class="min-h-screen bg-gray-100 font-['Inter'] p-4 sm:p-6 md:p-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-xl sm:text-2xl font-bold text-gray-700">👤 Benutzername</h1>
    <div class="space-x-4 text-sm sm:text-base">
      <a routerLink="/settings" class="text-gray-600 hover:underline">Einstellungen</a>
      <a (click)="logout()" class="text-gray-600 hover:underline">Logout</a>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full md:max-w-6xl md:mx-auto">
    <mat-card class="h-[25vh] lg:h-auto w-full p-6 rounded-2xl shadow-md flex flex-col items-center justify-center">
      <div class="flex items-center mb-2 text-2xl font-semibold text-gray-700">
        <mat-icon class="mr-2 text-yellow-500">directions_walk</mat-icon>
        Schritte heute
      </div>
      @if (this.totalSteps >= this.stepGoal) {
        <div class="text-5xl font-bold text-green-400 mb-2">{{ this.totalSteps }}</div>
        <div class="text-green-400 font-medium">✔ Ziel erreicht</div>
      } @else {
        <div class="text-5xl font-bold text-red-400 mb-2">{{ this.totalSteps }}</div>
        <div class="text-red-400 font-medium">❌ Noch {{ this.stepGoal - this.totalSteps }} Schritte bis zum Ziel</div>
      }
    </mat-card>
    <mat-card routerLink="/step-goal"
              class="h-[25vh] lg:h-auto w-full p-6 rounded-2xl shadow-md flex flex-col justify-between cursor-pointer">
      <div>
        <div class="flex items-center mb-2 text-2xl font-semibold text-gray-700">
          <mat-icon class="mr-2 text-green-600">track_changes</mat-icon>
          Schritteziel: {{ stepGoal }}
        </div>
      </div>
      <mat-progress-bar mode="determinate" value="{{100 / stepGoal * totalSteps}}" color="primary"></mat-progress-bar>
    </mat-card>
    <mat-card class="h-[25vh] lg:h-auto w-full p-6 rounded-2xl shadow-md flex flex-col items-center justify-center">
      <div class="flex items-center mb-4 text-2xl font-semibold text-gray-700">
        <mat-icon class="mr-2 text-blue-600">event</mat-icon>
        Schritte hinzufügen
      </div>
      <button routerLink="/steps" mat-icon-button color="primary"
              class="bg-blue-500 text-white p-4 rounded-full shadow cursor-pointer">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
    <mat-card class="h-[25vh] lg:h-auto w-full p-6 rounded-2xl shadow-md flex flex-col justify-between">
      <div>
        <div class="flex items-center mb-2 text-2xl font-semibold text-gray-700">
          <mat-icon class="mr-2 text-purple-600">bar_chart</mat-icon>
          Verlauf heute
        </div>
        <ul class="space-y-2">
          @for (record of stepRecords; track record) {
            <li class="flex justify-between text-gray-600">
              <span>{{ record.steps }} Schritte</span>
              <span>{{ this.getRightDate(record.created) }}</span>
            </li>
          }
        </ul>
      </div>
    </mat-card>
  </div>
</div>
