<div class="min-h-screen bg-white flex flex-col items-center p-4 sm:p-6">
  <h2 class="text-3xl font-bold text-gray-800 mt-12 mb-12 sm:mt-20 sm:mb-20 text-center">Erfasse dein Schritt Zeil</h2>

  <div class="w-full max-w-sm sm:max-w-md flex flex-col items-center space-y-8">
    <mat-form-field class="w-full">
      <mat-label>Schritte</mat-label>
      <input matInput type="number" placeholder="Schritte" [(ngModel)]="manualSteps" min="1" class="text-left" />
    </mat-form-field>

    <button mat-raised-button class="w-full py-4 rounded-full text-lg font-semibold shadow-md"
            style="background-color: #4CAF50; color: white;"
            (click)="addStepGoal()">
      Bestätigen
    </button>

    <button mat-flat-button class="w-full py-4 rounded-full text-lg font-semibold shadow-sm"
            style="background-color: #E0E0E0; color: #616161;"
            routerLink="/home">
      Abbrechen
    </button>
  </div>
</div>
